.mainb {
    background-color: #3C4DE9;
}

.lightmb {
    background-color: #6587FF;
}

.yellowb {
    background-color: #FF9900;
}

.yellowt {
    color: #FF9900;
}

.lightyb {
    background-color: #FFC165;
}


.maint {
    color: #3C4DE9;
}

.lightmt {
    color: #6587FF;
}

.lightmbo {
    border-color: #6587FF;
}

.lightyt {
    color: #FFC165;
}

.footer {
    background-color: #F7EDFF;
}

.form-b {
    background-color: #98B2FF;
}

.form-border {
    border-color: #98B2FF;
}

form>input:focus {
    border: none;
}