.forms {
    background-color: #FAF3FF;
    background-image: url('../assets/form_eelipse.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.image{
    border-style: dashed;
}

img {
    height: 540px;
}